<Iguana>

    <Parser>
        <Lookahead>1</Lookahead>
        <GSSLookupImpl>HASH_MAP</GSSLookupImpl>
        <MatcherType>DFA</MatcherType>
        <HashMapImpl>JAVA</HashMapImpl>
        <EnvironmentImpl>TRIE</EnvironmentImpl>
    </Parser>

    <Logging>
        <LogLevel>None</LogLevel>
    </Logging>

</Iguana>